.messages {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.search-people {
  margin-bottom: 20px;
}

.search-people-input {
  border: 1px solid #1b1b1b;
  min-height: 40px;
  width: 100%;
  font-size: 14px;
  padding-left: 15px;
  color: #bdc3d3;
  border-radius: 3px;
  background: #1b1b1b;
}

.people-search {
  position: absolute;
  top: 0;
  right: 15px;
  color: #fff;
  background: #fa2276;
  border: 0;
  height: 40px;
  padding: 0 20px;
  cursor: pointer;
  font-size: 14px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.view-spinner {
  width: 100%;
  text-align: center;
  margin: 50px 0;
}

.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: .25em solid #fa2276;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
}

.view-spinner span {
  font-size: 16px;
  font-weight: 400;
  color: #bdc3d3;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* user */

.my-listing-dt-all-follow {
  border: 1px solid #1b1b1b;
  border-radius: 3px;
  text-align: center;
  padding: 20px 0 0;
  margin-top: 30px;
  background: #1b1b1b;
}

.my-lisiting-picy img {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  border: 2px solid #fff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}

.my-listing-dt-all-follow h4 {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  margin: 15px 0 5px;
}

@media (min-width: 43.75em) h4 {
  line-height: 1.22222222;
}

.my-listing-dt-all-follow p {
  font-size: 14px;
  font-weight: 400;
  color: #bdc3d3;
  margin-bottom: 15px;
  padding: 0 10px;
  line-height: 26px;
}

.my-listing-dt-all-follow p i {
  top: -2px;
  bottom: 0;
  font-size: 14px;
  right: 5px;
  color: #fa2276;
}

.dashboard-main-dt-follow {
  width: 100%;
  text-align: center;
  margin: 30px 0;
}

.dashboard-main-dt-follow li {
  display: inline-block;
  padding: 0 15px;
  margin: 0 -1px;
}

.lisitng-dt2 ins {
  display: block;
  color: #fff;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.lisitng-dt2 span {
  color: #bdc3d3;
  font-size: 12px;
  font-weight: 400;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: none;
}

.folow-btn {
  width: 100%;
  height: 40px;
  background: #fa2276;
  color: #fff;
  border: 0;
  font-size: 14px;
  font-weight: 400;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.folow-btn:hover {
  background: #1b1b1b;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.pagination>div {
  color: #ffffff;
  font-weight: 500;
  margin-right: 15px;
  line-height: 36px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

.pagination>div:hover {
  cursor: pointer;
}

.activePage {
  font-weight: 700;
  background-color: #fa2276;
}

.view-spinner {
  width: 100%;
  text-align: center;
  margin: 50px 0;
}