footer.sticky-footer {
  border-top: 1px solid #1b1b1b;
  background-color: #101010;
  padding: 30px;
  margin-left: 225px;
}

footer.sticky-footer .copyright {
  line-height: 1;
  font-size: 0.8rem;
}

.footer-info {
  padding-left: 0px;
  text-align: center;
  color: #333;
}

.footer-info a {
  color: #bdc3d3;
  font-weight: 400;
  font-size: 14px;
  padding: 0px 8px;
  display: inline;
  line-height: 24px;
}

.copy-right {
  font-size: 12px;
  margin-top: 20px;
  color: #bdc3d3;
  font-weight: 400;
  text-align: center;
}